<h1>Welcome to my API</h1>

<table>
	<tr>
		<th>ENDPOINT</th>
		<th>EXPLANATION</th>
	</tr>
	<tr>
		<td>/api/cities/</td>
		<td>It returns a list of cities</td>
	</tr>
	<tr>
		<td>/api/cities/{id}/</td>
		<td>It returns a city based on its ID</td>
	</tr>
	<tr>
		<td>/api/states/</td>
		<td>It returns a list of states</td>
	</tr>
	<tr>
		<td>/api/states/{id}/</td>
		<td>It returns a state based on its ID</td>
	</tr>
</table>